@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

.form-container{
    @include m.mq('md'){
        order: 1;
    }
}

.form-newsletter{
    @include m.mq('xsm'){
        width: 100%;
        display: flex;
        justify-content: space-between;
    };
};

.form-input{
    padding-left: 1rem; padding-right: 1rem; padding-top: .5rem; padding-bottom: .5rem;
    border-radius: 1.4rem;
    border: 1px solid transparent;
    font-family: v.$font-family;
    margin-right: .2rem;
    outline: none;
    min-width: 13rem;

    @include m.mq('xsm'){
        min-width: 15rem;
    }


    &::placeholder{
        color: v.$c-darkGrayishBlue;
    }

    &--invalid{
        border: 1px solid v.$c-red;
        color: v.$c-red;
    }

    &--valid{
        border: 1px solid v.$c-green;
    }
}

.form-error-message{
    font-size: .7rem;
    margin-left: 1rem;
    font-style: oblique;
    float: left;

    &--hidden{
        visibility: hidden;
    }

    &--valid{
        color:v.$c-green;
    }

    &--invalid{
        color: v.$c-red;
    }
}