
// ****************
// COLORS VARIABLES
// ****************
// Main
$c-primary: hsl(12, 88%, 59%);
$c-secundary: hsl(228, 39%, 23%);

$c-lightGray: hsl(0, 0%, 98%);
$c-darkGrayishBlue:hsl(227, 12%, 61%);
$c-darkBlue: hsl(233, 12%, 13%);
$c-paleRed: hsl(13, 100%, 96%);
$c-lightRed: hsl(11, 93%, 73%);




// ****************
// FONT & FEATURES
// ****************

$font-family: 'Be Vietnam', sans-serif;
$font-bold: (
    'bold': 700,
    'medium': 500,
    'regular': 400
)