@use '../utilities/variables' as v;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: v.$c-darkGrayishBlue;
    line-height: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}