@use '../utilities/variables' as v;
@use '../utilities/functions' as f;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 2.4rem;
    color: v.$c-secundary;
}

p{
    color: v.$c-darkGrayishBlue;
    line-height: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

// Change swiper-pagination color
:root {
    --swiper-theme-color: #{v.$c-primary};
}