@use '../utilities/variables' as v;
@use '../utilities/functions' as f;
@use '../utilities/mixins' as m;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 2.4rem;
    color: v.$c-secundary;

    @include m.mq('sm'){
        font-size: 2rem;
    }
}

p{
    color: v.$c-darkGrayishBlue;
    line-height: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    appearance: none;
    border: none;
    cursor: pointer;
}

// Change swiper-pagination color
:root {
    --swiper-theme-color: #{v.$c-primary};
}