@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;
@use '../utilities/functions' as f;


.about-container{
    @include m.general-padding;
    margin-top: 4rem;
    display: flex;
    gap: 7rem;

    @include m.mq('md'){
        flex-direction: column;
        gap: 3rem;
    }

    @include m.mq('sm'){
        margin-top: 5.5rem;
        @include m.general-padding-small;
    }
}

.about-info, 
.about-features{
    // Both divs have the same width
    flex-basis: 0; 
    flex-grow: 1;
}

.about-info{
    &__description{
        margin-top: 1.5rem;
        width: 70%;
    }

    @include m.mq('md'){
        text-align: center;

        &__description{
            width: 100%;
        }
    }
}

.about-features{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.feature-item{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    grid-template-areas: 
    "btn title"
    ". description";

    @include m.mq('md'){
        grid-template-areas: 
        "btn title"
        "description description";
        grid-template-columns: auto 1fr;
    }
    

    &__btn{
        grid-area: btn;
        
    }

    &__title{
        grid-area: title;
        font-size: 1.3rem;
        color: v.$c-secundary;
        font-weight: f.font-weight('bold');

    }


    &__description{
        grid-area: description;
    }
}

