@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

.team{
    background-color: v.$c-primary;


}

.team-container{
    @include m.general-padding;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include m.mq('sm'){
        @include m.general-padding-small;
        flex-direction: column;
        gap: 2rem;
    }

    
    
    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/bg-tablet-pattern.svg);
        width: 814px;
        height: 814px;
        background-position: top left;
        top: -20px;
        left: -20px;
        filter: opacity(.08);
    }
}

.team-title{
    width: 50%;
    color: v.$c-paleRed;
    line-height: 3rem;
    z-index:999;
    @include m.mq('sm'){
       width: 100%;
       text-align: center;
    }
    
}