.testimonials-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 5rem;
}

.testimonials-slider{
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}